<h1>Authors</h1>

{{#if editauthor}}
<form method="POST" action="/update-author">
    <input type="hidden" name="author_id" value="{{editauthor.author_id}}">
    <button type="submit">Update Author</button>
</form>
{{else}}
{{/if}}

<!-- authors Table -->
<table border="1">
    <thead>
        <tr>
            <th>Author ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.author_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>
                <button type="button" onclick="window.location.href='/edit-author/{{this.author_id}}'">Edit</button>
                <form method="POST" action="/delete-author" style="display:inline;">
                    <input type="hidden" name="author_id" value="{{this.author_id}}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Form to Add a New author -->
<h2>Add a New author</h2>
<form method="POST" action="/add-author-form">
    <label for="author-title">Title:</label>
    <input type="text" name="author-title" id="author-title" required>

    <label for="author-description">Description:</label>
    <input type="text" name="author-description" id="author-description">

    <input type="submit" value="Add author">
</form>