<h1>Books</h1>

{{#if editbook}}
<form method="POST" action="/update-book">
    <input type="hidden" name="book_id" value="{{editbook.book_id}}">
    <button type="submit">Update Book</button>
</form>
{{else}}
{{/if}}

<!-- books Table -->
<table border="1">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>author_id</th>
            <th>genre_id</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.book_id}}</td>
            <td>{{this.Title}}</td>
            <td>{{this.author_id}}</td>
            <td>{{this.genre_id}}</td>
            <td>{{this.price}}</td>
            <td>{{this.quantity}}</td>
            <td>
                <button type="button" onclick="window.location.href='/edit-book/{{this.book_id}}'">Edit</button>
                <form method="POST" action="/delete-book" style="display:inline;">
                    <input type="hidden" name="book_id" value="{{this.book_id}}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Form to Add a New book -->
<h2>Add a New book</h2>
<form method="POST" action="/add-book-form">
    <label for="book-title">Title:</label>
    <input type="text" name="book-title" id="book-title" required>

    <label for="book-description">Description:</label>
    <input type="text" name="book-description" id="book-description">

    

    <input type="submit" value="Add book">
</form>